.wrapper {
  width: 100vw;
  padding: var(--spaceSmall);
}

.text {
  font-size: var(--pBig-size);
  line-height: var(--pBig-lineHeight);
  word-spacing: var(--pBig-wordSpacing);
  padding-bottom: 300px;
}

.headline {
  font-size: var(--pMedium-size);
  line-height: var(--pMedium-lineHeight);
  word-spacing: var(--pMedium-wordSpacing);
}

.list {
  font-size: var(--pBig-size);
  line-height: var(--pBig-lineHeight);
  word-spacing: var(--pBig-wordSpacing);
  padding-bottom: var(--spaceLarge);
}

.link:hover {
  padding-left: 3px;
}

.info {
  display: flex;
  width: 100%;
  padding-top: 300px;
  padding-bottom: var(--spaceLarge);
}

.info .headline {
  width: 50%;
}

.links {
  font-family: "Protest Poster";
  font-size: var(--H2-size);
  line-height: var(--H2-lineHeight);
  letter-spacing: var(--H2-letterSpacing);
  padding-top: 300px;
  padding-bottom: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  cursor: pointer;
  /* position: relative; */
  transition: all 0.2s ease;
}

.links a:hover {
  animation: wiggle 0.3s alternate-reverse infinite;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  33% {
    transform: rotateZ(-1deg);
  }
  66% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@media screen and (max-width: 600px) {
  .headline {
    font-size: 10px;
    letter-spacing: 0.4px;
  }
}