.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spaceLarge) 0 var(--spaceExtraSmall);
  background: white;
  z-index: 100;
  cursor: default;
}

.logo {
  font-family: "Protest Poster";
  transform: translateY(3px);
}

.wrapper span {
  padding: 0 20px;
  line-height: 27px;
}

.wrapper a {
  padding: 0 5px;
  cursor: pointer;
}

.pageWrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: white;
  z-index: 100;
  padding: var(--spaceSmall)
}

@media screen and (max-width: 1000px) {
  .wrapper {
    display: none;
  }
}