:root {
  --spaceExtraSmall: 15px;
  --spaceSmall: 30px;
  --spaceMedium: 45px;
  --spaceLarge: 100px;
  --spaceExtraLarge: 200px;

  --H1-size: clamp(10px, 28vh, 16vw);
  --H1-lineHeight: clamp(10px, 23vh, 15vw);
  --H1-letterSpacing: clamp(-1px, -0.4vh, 10000px);

  --H2-size: clamp(10px, 10vh, 7.5vw);
  --H2-lineHeight: clamp(10px, 9vh, 7.5vw);
  --H2-letterSpacing: clamp(-1px, -0.2vh, 10000px);

  --H3-size: clamp(10px, 7vh, 16vw);
  --H3-lineHeight: clamp(10px, 7vh, 15vw);
  --H3-letterSpacing: clamp(-1px, 0vh, 10000px);

  --H4-size: clamp(24px, 3.5vh, 35px);
  --H4-lineHeight: clamp(28px, 4vh, 40px);
  --H4-letterSpacing: clamp(-1px, 0.1vh, 10000px);

  --pMedium-size: 17pt;
  --pMedium-lineHeight: 20pt;

  --pBig-size: 27pt;
  --pBig-lineHeight: 30.5pt;
  --pBig-wordSpacing: -3px;
}

@font-face {
  font-family: "Protest Book";
  font-style: normal;
  src: url(../public/fonts/ProtestGrotesk-130-Book.otf) format("opentype");
}

@font-face {
  font-family: "Protest Book Italic";
  font-style: normal;
  src: url(../public/fonts/ProtestGrotesk-130-BookItalic.otf) format("opentype");
}

@font-face {
  font-family: "Protest Poster";
  font-style: normal;
  src: url(../public/fonts/ProtestGrotesk-Poster.otf) format("opentype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background: black;
  color: white;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Protest Book";
  font-feature-settings: "ss01";
  font-size: 15pt;
  font-variation-settings: "wght" 10;
  background: white;
}

h1 {
  font-family: "Protest Poster";
  font-size: var(--H1-size);
  line-height: var(--H1-lineHeight);
  letter-spacing: var(--H1-letterSpacing);
}

h2 {
  font-family: "Protest Poster";
  font-size: var(--H2-size);
  line-height: var(--H2-lineHeight);
  letter-spacing: var(--H2-letterSpacing);
}

h3 {
  font-family: "Protest Poster";
  font-size: var(--H3-size);
  line-height: var(--H3-lineHeight);
  letter-spacing: var(--H3-letterSpacing);
}

h4 {
  font-family: "Protest Poster";
  font-size: var(--H4-size);
  line-height: var(--H4-lineHeight);
  letter-spacing: var(--H4-letterSpacing);
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.animation li.rightbound {
  text-align: right;
  white-space: nowrap;
  width: 100%;
  transition: width 0.4s ease;
}

ul:hover > li.rightbound {
  width: 0;
}

.animation li.leftbound {
  text-align: right;
  white-space: nowrap;
  width: 0;
  transition: width 0.4s ease;
}

ul:hover > li.leftbound {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  :root {
    --spaceExtraSmall: 15px;
    --spaceSmall: 20px;
    --spaceMedium: 45px;
    --spaceLarge: 100px;
    --spaceExtraLarge: 200px;

    --H3-size: clamp(10px, 4vh, 16vw);
    --H3-lineHeight: clamp(10px, 4vh, 15vw);
    --H3-letterSpacing: clamp(-1px, 0.1vh, 10000px);

    --H2-size: clamp(10px, 7vh, 100vw);
    --H2-lineHeight: clamp(10px, 7vh, 100vw);
    --H2-letterSpacing: clamp(-1px, -0.05vh, 10000px);
    
    --pBig-size: 11pt;
    --pBig-lineHeight: 15.5pt;
    --pBig-wordSpacing: 0px;

    --pMedium-size: 11pt;
    --pMedium-lineHeight: 15.5pt;
    --pMedium-wordSpacing: 0px;
  }

  p {
    font-size: 12pt;
    line-height: 16pt;
    letter-spacing: 0.3px;
    word-spacing: -1.5px;
  }
}
