.wrapper {
  margin-top: var(--spaceMedium);
  padding: 200px var(--spaceSmall);
  width: 100vw;
}

.content {
  margin-top: var(--spaceLarge);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: calc(100vw - var(--spaceSmall));
}

.kosmosPost {
  width: calc(33% - 25px);
  margin-bottom: var(--spaceLarge);
  margin-right: var(--spaceSmall);
  height: auto;
  cursor: pointer;
}

.previewImage {
  width: 100%;
}

.swiperImage {
  height: clamp(300px, 33vw, 500px);
}

.swiperImage img {
  position: relative !important;
  transition: transform 0.4s ease, filter 0.4s ease;
}

.swiperImage img:hover {
  transform: scale(1.03);
  filter: brightness(0.7);
}

.plus {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease;
}

.plus h2 {
  transition: all 0.2s ease;
  cursor: pointer;
}

.plus h2:hover {
  transform: rotate(90deg) translateY(-9px) translateX(7px);
}

.kosmosOverlay {
  position: fixed;
  left: 0;
  top: 0;
  height: auto;
  width: 100vw;
  height: 100vh;
  padding: var(--spaceLarge) var(--spaceMedium);
  overflow: scroll;
  overscroll-behavior: none;
  /* background: white; */
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(15px);
  z-index: 100;
  cursor: default;
  transition: transform 0.5s ease;
}

.kosmosOverlay p {
  padding-right: 30px;
}

.kosmosOverlay h2:hover {
  animation: wiggle 0.3s alternate-reverse infinite;
}

.kosmosText {
  font-size: var(--pBig-size);
  line-height: var(--pBig-lineHeight);
  word-spacing: var(--pBig-wordSpacing);
  padding-bottom: var(--spaceLarge);
}

.column {
  display: flex;
  padding-top: 30px;
}

.link {
  padding-top: 100px;
  text-align: center;
}

.link:hover {
  animation: wiggle 0.3s alternate-reverse infinite;
}

.header {
  width: 150px;
}

.hamburgerWrapper {
  animation: fadeIn 0.5s ease;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  padding: 20px var(--spaceSmall)
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  33% {
    transform: rotateZ(-1deg);
  }
  66% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@media screen and (max-width: 1000px) {
  .kosmosPost {
    width: 100%;
  }
  .kosmosOverlay {
    left: 0;
    padding: var(--spaceSmall);
    width: auto;
    /* background: blue */
  }
}
