.landingOuter {
  width: 100vw;
  left: 0;
  overflow: hidden;
}

.landingTypo {
  position: relative;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spaceSmall);
  cursor: default;
  overflow: hidden;
}

.landingOuter::selection {
  background: none;
  color: black;
}

.landingTypo h1 {
  transition: all 1s ease;
}

.landingObjects {
  display: flex;
  justify-content: space-around;
  pointer-events: none;
  width: 100vw;
}

.landingObjectTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  pointer-events: none;
  background: white;
  filter: drop-shadow(0 0 100px white)
}
.bottomWrapper {
  padding-top: 250vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
