.wrapper {
  margin-top: var(--spaceMedium);
  padding: 200px var(--spaceSmall);
  width: 100vw;
}

.introText {
  padding: var(--spaceSmall);
}

.listHeader {
  margin-top: var(--spaceMedium);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bodyName span,
.bodyCategory span,
.bodyCity span,
.headerCategory span,
.headerCity span {
  cursor: pointer;
}

.headerName {
  width: 50%;
}

.headerCategory,
.headerCity {
  width: 25%;
  text-align: right;
}

.listBody {
  margin-top: var(--spaceExtraSmall);
  min-height: 100vh;
}

.listRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  transition: all 0.2s ease;
}

.bodyName {
  width: 50%;
  font-family: "Protest Poster";
  font-size: var(--H4-size);
  letter-spacing: var(--H4-letterSpacing);
  display: flex;
}

.animation {
  display: block;
  cursor: pointer;
}

.animation:hover {
  animation: smallWiggle 0.3s alternate-reverse infinite;
}

.bodyCategory,
.bodyCity {
  width: 25%;
  text-align: right;
  font-family: "Protest Poster";
  font-size: var(--H4-size);
  letter-spacing: var(--H4-letterSpacing);
  display: flex;
  justify-content: flex-end;
}

.accordeon {
  overflow: hidden;
  transition: all 0.4s ease;
}

.accordeonInner {
  display: flex;
}

.accordeonText,
.accordeonImages {
  width: 50%;
}

.accordeonText {
  padding-right: 15px;
  overflow: scroll;
}

.accordeonText h1,
.accordeonText h2,
.accordeonText h3,
.accordeonText h4 {
  font-family: "Protest Book";
  font-feature-settings: "ss01";
  font-size: 15pt;
  font-variation-settings: "wght" 10;
  letter-spacing: 0;
  line-height: 20pt;
}

.accordeonImages {
  /* cursor: none; */
}

.imageWrapper {
  position: relative;
  /* overflow: hidden; */
  /* display: flex;
  justify-content: flex-end; */
}

.imageWrapper img {
  position: relative !important;
}

.netzwerkLink {
  margin-top: 30px;
  width: 140px;
}

.netzwerkLink:hover {
  animation: bigWiggle 0.3s alternate-reverse infinite;
}

.spacer {
  width: 40px;
  height: 2px;
  position: absolute;
  top: -50px;
  opacity: 0;
}

.accordeonAnchor {
  pointer-events: none;
  height: 30px;
  width: 30px;
  position: absolute;
  transform: translateY(-127px);
}

.gradient {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background: white;
}

@keyframes bigWiggle {
  0% {
    transform: rotateZ(0deg);
  }
  33% {
    transform: rotateZ(-3deg);
  }
  66% {
    transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes smallWiggle {
  0% {
    transform: rotateZ(0deg);
  }
  33% {
    transform: rotateZ(-1deg);
  }
  66% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    margin: 0;
    padding: 0;
    padding-top: 100px;
  }
  .listHeader,
  .bodyCategory,
  .bodyCity {
    display: none;
  }
  .bodyName {
    width: 100%;
    font-size: var(--H3-size);
    line-height: var(--H3-lineHeight);
    letter-spacing: var(--H3-letterSpacing);
  }
  .listRow {
    height: auto !important;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    padding: 10px var(--spaceSmall);
  }
  .eintragWrapper {
    /* background: white; */
    /* filter: drop-shadow(0px -11px 7px rgba(0, 0, 0, 0.1)); */
  }
  .accordeonInner {
    flex-flow: column;
  }
  .accordeonText,
  .accordeonImages {
    width: 100%;
  }
  .accordeonText {
    padding: 0 var(--spaceSmall) var(--spaceSmall);
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .spacer {
    top: -72px;
  }
}
